.App {
  text-align: center;
  display: flex;
  flex-direction: column;


}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html
{
  background-color: #282c34;
}


.content
{
  color: white;

  text-align: left;
  padding: 1em;


}

.container
{
  border-radius: 5px;
  margin-left: 2em;
  margin-right: 2em;
  box-shadow:  3px 4px 5px 3px  black;
  max-width: 1000px;
  min-width: 500px;
  align-self: center;
}
.App-header {

  min-height: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.blueChar
{
  color: #00c7ff;
}
.redChar
{
  color: #ff0000;
}
.greenChar
{
  color: #18ff00;
}
.timerG
{
  color: #18ff00;
}

.timerY
{
  color: #ffdd00;
}
.timerRS
{
  color: #ff0000;
  animation: shake infinite 1s;
}

@keyframes shake {

  0%{

    transform: skewX(0deg) translateX(0);
  }
  25%{

    transform: skewX(10deg) translateX(5px);
  }

  50%{
    transform: skewX(-10deg) translateX(-5px);
  }
  100%{
    transform: skewX(0deg) translateX(0);
  }

}


.timerB
{
  color:  #00c7ff;

}




.userInActive
{

  background-color: #282c34;
  color: #282c34;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 30px;
  height: 170px;
  border-radius: 5px;
  max-width: 1000px;
  min-width: 500px;
  align-self: center;
  border: #282c34;
  outline-color: #282c34;


}

textarea
{
  background-color: #282c34;
  width: 100%;
  height: 170px;
  resize: none;
  color: #282c34;
  border: #282c34;
  outline: none;
}
.startButton
{
  color:  #00c7ff;
  height: 30px;
  width: 110px;
  background-color: #282c34;
  box-shadow: none;
  border: none;
  font-size: 20px;
  text-decoration: none;
  margin-top: 40px;
  border-radius: 17px;
}
.startButton:hover
{
  background-color:  #00c7ff;
  color: black;

  border-radius: 17px;
}
